body { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	background-color: #FFFFFF;
}

@font-face {
  font-family: "Manuskript Gotisch";
  src: url("../fonts/ManuskriptGotisch.ttf") format("truetype");
}

a {
	color: #333333;
	font-weight: bold;
}

a:hover {
	color: #000000;
}

.site-wrapper {
	background: url("../images/background.jpg");
	background-position: fixed;
	background-attachment: fixed;
}

.light-section {
	background-color: rgba(255,255,255,0.89);
}

.dark-section {
	background-color: rgba(0,0,0,0.89);
	color: #D0D0D0;
}

/* Header Styling */

.header-wrapper {
	padding: 1em;
	text-align: center;
}

/* Content Styling */

.sections-wrapper {

}

#about img {
	float: left;
    margin: 0.4em 1.4em 1em 0px;
}

#projects ul {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

#projects li {
	display: inline-block;
	padding: 1em 1.3em;
	position: relative;
}

#projects li span.project-title {
	background-color: rgba(241, 241, 241, 0.87);
    position: absolute;
    left: 1.3em;
    padding: 0.2em 0.5em;
    bottom: 1em;
    border-top: 1px solid black;
    border-right: 1px solid black;
	border-radius: 0em 0.3em 0em 0em;
}

#projects span.project-link {
	color: #333333;
	font-weight: bold;
	cursor: pointer;
}

#projects span.project-link:hover {
	color: #000000;
}

#projects .project-detail {
	position: absolute;
    top: 1em;
	visibility: hidden;
}

#contact #contact-links {
	text-align: center;
}

#contact ul {
	list-style: none;
	display: inline-block;
	padding-left: 0;
}

#contact li {
	float: left;
	padding: 0 2em 0 2em;
}

.content-wrapper {
	max-width: 60em;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.content-wrapper h1 {
	font-family: "Manuskript Gotisch";
	margin-top: 0px;
	text-align: center;
	padding-bottom: 0.2em;
}

.light-section h1 {
	border-bottom: 1px solid rgba(51, 51, 51, 0.89);
}

.dark-section h1 {
	border-bottom: 1px solid rgba(208, 208, 208, 0.89);
}