html {
	overflow-y:scroll;
}

html, body {
	height: 100%;
}

body { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	background-color: #FFFFFF;
	background: url("../images/background.jpg");
	background-position: center;
	background-attachment: fixed;
	font-size: 1.7em;
}

@font-face {
  font-family: "Manuskript Gotisch";
  src: url("../fonts/ManuskriptGotisch.ttf") format("truetype");
}

a:visited {
	text-decoration: none;
}

.light-section {
	background-color: rgba(255,255,255,0.89);
	position: relative;
}

.light-section a, .light-section .link {
	color: #333333;
	font-weight: bold;
	cursor: pointer;
}

.light-section a:hover, .light-section .link:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.dark-section {
	background-color: rgba(0,0,0,0.89);
	color: #D0D0D0;
	position: relative;
}

.dark-section a, .dark-section .link {
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	cursor: pointer;
}

.dark-section a:hover, .dark-section .link:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	cursor: pointer;
}

#site-wrapper {
	height: 100%;
}


/* Title Page */

#title-page {
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}

#title-page #logo {
	padding: 10px;
	display: inline-block;
    width: 100%;
	align-self: center;
}

#title-page #logo img {
	max-width: 100%;
}

#title-page  #nav-links {
	height: 100%;
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
}

#title-page  a {
	height: 100%;
	text-align: center;
	padding: 0em 1em;
	font-weight: normal;
	letter-spacing: -0.04em;
}

/* General Content */

.content-wrapper {
	position: relative;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0.5em 1em 0.5em;
}

.dark-section h1, .light-section h1 {
	font-family: "Manuskript Gotisch";
	margin-top: 0px;
	font-size: 1.7em;
	position: absolute;
	left: 0.5em;
	top: 0.5em;
}

/* About */

#about img {
	float: left;
	margin: 0.4em 1.4em 0.8em 0px;
}

/* Projects */

#projects ul#project-grid  {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

#projects ul#project-grid li {
	display: inline-block;
	margin: 1em 1.3em;
	position: relative;
	cursor: pointer;
}

#projects ul#project-grid li img.desat-img {
	position: absolute;
	display: none;
}

#projects ul#project-grid li span.project-title {
	background-color: rgba(241, 241, 241, 0.87);
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0.2em 0.5em;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0em 0.3em 0em 0em;
	font-size: 0.9em;
}

#projects ul#project-grid img {
	width: 100%;
}

#projects .project-detail {
	display: none;
}

#projects .project-detail .centre-image {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#projects .project-detail .centre-image img {
	max-width: 100%;
}

#projects h2 {
	text-align: center;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.19);
	padding-bottom: 0.4em;
	margin-top: 0px;
}

/* Contact */

#contact #contact-links-small {
	display: none;
}

#contact #contact-links, #contact #contact-links-small {
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
	margin: 1;
}

#contact ul {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	margin-top: 10px;
}

#contact li {
	float: left;
	padding: 0 2.7em 0 2.7em;
}

#contact p {
	padding-top: 1em;
}

/* Media Queries */

@media only screen and (max-width: 1150px) {
    .light-section h1, .dark-section h1 {
		font-size: 1.6em;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		margin: 0px;
		padding: 10px;
		background-color: rgba(130,130,130,0.06);
	}
	
	#about img {
		width: 28%;
	}
}

@media only screen and (max-width: 815px) {
	#contact li {
		padding: 0 1em 0 1em;
	}
}

@media only screen and (max-width: 670px) {

	#contact #contact-links-small {
		display: block;
	}
	
	#contact #contact-links {
		display: none;
	}

	#contact #contact-links-small li {
		float: none;
		padding: 0 0.5em;
		display: block;
	}

	#contact #contact-links-small img {
		float: left;
	}
}

@media only screen and (max-width: 600px) {
	#title-page #nav-links {
		font-size: 1.5em;
	}
	
	#title-page  #nav-links a {
		padding: 0 0.25em;
	}
	
	#projects ul#project-grid li {
		display: block;
		width: 80%;
		height: 126px;
		overflow-y: hidden;
		margin: 10px auto;
	}

	#projects ul#project-grid li span.project-title {
		font-size: 0.8em;
	}
	
	#projects ul#project-grid img {
		position: relative;
		top: -50%;
	}
}

@media only screen and (max-width: 460px) {
	body {
		font-size: 1.5em;
	}
	
	#about img {
		display: none;
	}
}