html {
	overflow-y:scroll;
}

html, body {
	height: 100%;
}

body { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	background-color: #FFFFFF;
	background: url("../images/background.jpg");
	background-position: center;
	background-attachment: fixed;
	font-size: 1.7em;
}

@font-face {
  font-family: "Manuskript Gotisch";
  src: url("../fonts/ManuskriptGotisch.ttf") format("truetype");
}

a:visited {
	text-decoration: none;
}

.light-section {
	background-color: rgba(255,255,255,0.89);
	position: relative;
}

.light-section a, .light-section .link {
	color: #333333;
	font-weight: bold;
	cursor: pointer;
}

.light-section a:hover, .light-section .link:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.dark-section {
	background-color: rgba(0,0,0,0.89);
	color: #D0D0D0;
	position: relative;
}

.dark-section a, .dark-section .link {
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	cursor: pointer;
}

.dark-section a:hover, .dark-section .link:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	cursor: pointer;
}

#site-wrapper {
	height: 100%;
}


/* Title Page */

#title-page {
	height: 100%;
	text-align: center;
}

#title-page #logo {
	padding: 200px 10px 0 10px;
	display: inline-block;
    width: 100%;
}

#title-page #logo img {
	max-width: 100%;
}

#title-page  #nav-links {
	height: 100%;
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
}

#title-page  a {
	height: 100%;
	text-align: center;
	padding: 0em 1em;
	font-weight: normal;
}

/* General Content */

.content-wrapper {
	position: relative;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0em 1em 0em;
}

.dark-section h1, .light-section h1 {
	font-family: "Manuskript Gotisch";
	margin-top: 0px;
	font-size: 2.5em;
	position: absolute;
	left: 0.5em;
	top: 0.5em;
}

/* About */

#about img {
	float: left;
    margin: 0.4em 1.4em 1em 0px;
}

/* Contact */

#contact #contact-links {
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
	margin: 1;
}

#contact ul {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	margin-top: 10px;
}

#contact li {
	float: left;
	padding: 0 2.7em 0 2.7em;
}

#contact p {
	padding-top: 1em;
}